<!DOCTYPE html>
<html lang="en">
	<head>
        <%- include('../../layouts/head.ejs') %>
	</head>
	<body>
		<!-- Start preloader -->
		<div id="preloader"></div>
		<!-- End preloader -->

		<!-- Search Screen start -->
		<div class="sidebar-search-wrap">
		    <div class="sidebar-table-container">
			    <div class="sidebar-align-container">
			        <div class="search-closer right-side"></div>
			        <div class="search-container">
			          <form method="get" id="search-form">
			            <input type="text" id="s" class="search-input" name="s" placeholder="Search text">
			          </form>
			          <span>Search and Press Enter</span>
			        </div>
			    </div>
		    </div>
		</div>
		<!-- Search Screen end -->

		<div class="main" id="main">
            <%- include('../../layouts/header.ejs') %>

			<section class="page-banner">
				<div class="container">
					<div class="page-banner-in">
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-12">
								<h1 class="page-banner-title text-uppercase">Shop</h1>
							</div>
							<div class="col-xl-6 col-lg-6 col-12">
								<ul class="right-side">
									<li><a href="/">Home</a></li>
									<li><a href="/">Shop</a></li>
									<li>Shop Detail</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="product-detail-main pt-100">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-12">
							<div class="align-center mb-md-30">
					            <ul id="glasscase" class="gc-start">
					                <li><img src="<%= product.thumbnail %>" alt="product" /></li>
					                <!--<li><img src="/static/images/13.jpg" alt="product" /></li>
					                <li><img src="/static/images/14.jpg" alt="product" /></li>
					                <li><img src="/static/images/15.jpg" alt="product" /></li>
					                <li><img src="/static/images/16.jpg" alt="product" /></li>
					                <li><img src="/static/images/17.jpg" alt="product" /></li>-->
					            </ul>
					        </div>
						</div>
						<div class="col-lg-7 col-md-6 col-12">
							<div class="product-detail-in">
								<h2 class="product-item-name text-uppercase"><%= product.name %></h2>
								<div class="price-box"> 
									<span class="price">$<%= product.price %></span> 
				                    <del class="price old-price">$<%= product.oldPrice %></del>
				                    <div class="rating-summary-block">
					                    <div class="star-rating">
									      	<input id="star-5" type="radio" name="rating" value="star-5" />
									      	<label for="star-5" title="5 stars">
									        	<i class="active fa fa-star" aria-hidden="true"></i>
									      	</label>
									      	<input id="star-4" type="radio" name="rating" value="star-4" />
									      	<label for="star-4" title="4 stars">
									        	<i class="active fa fa-star" aria-hidden="true"></i>
									      	</label>
									      	<input id="star-3" type="radio" name="rating" value="star-3" />
									      	<label for="star-3" title="3 stars">
									        	<i class="active fa fa-star" aria-hidden="true"></i>
									      	</label>
									      	<input id="star-2" type="radio" name="rating" value="star-2" />
									      	<label for="star-2" title="2 stars">
									       		<i class="active fa fa-star" aria-hidden="true"></i>
									      	</label>
									      	<input id="star-1" type="radio" name="rating" value="star-1" />
									      	<label for="star-1" title="1 star">
									        	<i class="active fa fa-star" aria-hidden="true"></i>
									      	</label>
									    </div>
									    <a href="#product-review" class="scrollTo"><span>999 Review (s)</span></a>
									</div>
									<div class="product-des">
		                				<p><%= product.description %></p>
		                			</div>
				                        <li><i class="fa fa-check"></i> Satisfaction 100% Guaranteed</li>
				                        <li><i class="fa fa-check"></i> Free shipping on orders over $99</li>
				                        <li><i class="fa fa-check"></i> 14 day easy Return</li>
				                    </ul>
				                    <div class="row mt-20">
				                    	<div class="col-12">
											<form action="javascript:;" id="productForm">
												<input type="hidden" name="cart" id="cart" value="<%= cart.id %>">
												<input type="hidden" name="id" id="id" value="<%= product.id %>">
												<div class="table-listing qty">
													<label for="quantity">Qty:</label>
													<div class="fill-input">
														<button type="button" id="sub" class="sub cou-sub">
															<i class="fa fa-minus" aria-hidden="true"></i>
														</button>
														<input type="number" name="quantity" id="quantity" class="input-text qty" value="1" min="1" max="<%= product.stock %>" />
														<button type="button" id="add" class="add cou-sub">
															<i class="fa fa-plus" aria-hidden="true"></i>
														</button>
													</div>
												</div>
												<div class="product-action">
													<ul>
														<li>
															<button type="submit" class="btn btn-color">
																<img src="/static/images/shop-bag.png" alt="bag">
																<span>add to cart</span>
															</button>
														</li>
													</ul>
												</div>
											</div>
				                        </div>
				                    </div>
				                </div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="featured pt-100">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h2 class="related-title">Related Product</h2>
						</div>
						<% relatedProducts.forEach(function(relatedProduct, index, relatedProducts) { %>
							<div class="featured-product mb-25">
								<div class="product-img transition mb-15">
									<a href="/product-detail/<%= relatedProduct.id %>">
										<img src="<%= relatedProduct.thumbnail %>" alt="product" class="transition">
									</a>
									<div class="new-label">
										<span class="text-uppercase">New</span>
									</div>
									<div class="product-details-btn text-uppercase text-center transition">
										<a href="/product-detail/<%= product.id %>" class="quick-popup mfp-iframe">Quick View</a>
									</div>
								</div>
								<div class="product-desc">
									<a href="/product-detail/<%= relatedProduct.id %>" class="product-name text-uppercase"><%= relatedProduct.name %></a>
									<span class="product-pricce">$<%= relatedProduct.price %></span>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</section>

			<%- include('../../layouts/topScrolling.ejs') %>
			<%- include('../../layouts/footer.ejs') %>
		</div>
        <%- include('../../layouts/scripts.ejs') %>
		<script>
			var product = new Object;
			var cart = new Object;

			$(document).ready(async () => {
				try {
					product = new Product('product');
					cart = new Cart('cart');

					product.elements = {
						form: '#productForm'
					};

					$(product.elements.form).off('submit');

					$(product.elements.form).on('submit', (e) => {
						product.submitForm();
					});
				} catch (error) {
					throw new Error(error);
				}
			});
		</script>
		<script>
	        $(document).ready( function () {
	            //If your <ul> has the id "glasscase"
	            $('#glasscase').glassCase({ 
	            	'thumbsPosition': 'bottom', 
	            	'widthDisplayPerc' : 100,
	            	isDownloadEnabled: false,
	            });
	        });
	    </script>
	</body>
</html>
