<div class="featured-product mb-25">
    <div class="product-img transition mb-15">
        <a href="/product-detail/<%= product.id %>">
            <img src="<%= product.thumbnail %>" alt="product" class="transition">
        </a>
        <div class="new-label">
            <span class="text-uppercase">New</span>
        </div>
        <div class="product-details-btn text-uppercase text-center transition">
            <a href="/product-detail/<%= relatedProduct['_id'] %>" class="quick-popup mfp-iframe">Quick View</a>
        </div>
    </div>
    <div class="product-desc">
        <a href="/product-detail/<%= product.id %>" class="product-name text-uppercase"><%= product.name %></a>
        <span class="product-pricce">$<%= product.price %></span>
    </div>
</div>